Lab1/XMLParsing/XMLParsing/StaticFiles/schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfVacancy">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Vacanc">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Date" type="xs:dateTime" />
              <xs:element name="CityName">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="15" />
                    <xs:minLength value="4" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ShortDescription" type="xs:string" />
              <xs:element name="CompanyName" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="Id" type="xs:int" use="required" />
            <xs:attribute name="Hot" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>